@charset "ISO-8859-1";
h1{
	color:blue;
	text-align:center;
}
.volver{
	background:blue;
	color:white;
	text-align:left;
}
.formula{
	text-align:center;
}
.registro{
	text-align:center;
}
.guardar{
	text-align:right;
	
}